<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/index.html}" lang="en">

<th:block layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-dark">
                <div class="card-header">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-sm table-hover text-center">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>Number</th>
                            <th>Order Type</th>
                            <th>Delivery Date</th>
                            <th>Delivery Type</th>
                            <th>Total Price</th>
                            <th>Total Weight</th>
                            <th>Status</th>
                            <th>Total SubOrders</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orders}">
                            <td class="align-middle" th:text="${orderStat.index + 1}"></td>
                            <td class="align-middle" th:text="${order.id}"></td>
                            <td class="align-middle" th:text="${order.orderType}"></td>
                            <td class="align-middle"
                                th:text="${#temporals.format(order.deliveryDate,'dd.MM.yyyy')}"></td>
                            <td class="align-middle" th:text="${order.deliveryType}"></td>
                            <td class="align-middle"
                                th:text="${order.totalPrice == null} ? '' : ${#numbers.formatDecimal(order.totalPrice * exchangeRate,1,2,'COMMA') + ' UAH / '
                                + #numbers.formatDecimal(order.totalPrice,1,2,'COMMA') + ' $'}"></td>
                            <td class="align-middle"
                                th:text="${order.totalWeight == null} ? '' : ${#numbers.formatDecimal(order.totalWeight,1,2,'COMMA') + ' kg'}"></td>
                            <td class="align-middle" th:text="${order.status}"></td>
                            <td class="align-middle" th:text="${#lists.size(order.subOrders)}"></td>
                            <td class="align-middle"><a th:href="${'/orders/' + order.id + '/view'}"
                                                        class="btn btn-sm btn-primary"><i class="fa-solid fa-barcode"></i> More info</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer clearfix" th:if="${totalPages > 1}">
                    <ul class="pagination pagination-sm m-0 justify-content-center">
                        <li class="page-item" th:if="${currentPage > 4}">
                            <a class="page-link" th:href="@{/orders/new/page/1}"><i class="fa-solid fa-angles-left"></i></a>
                        </li>
                        <li class="page-item" th:if="${currentPage > 1}">
                            <a class="page-link" th:href="@{'/orders/new/page/' + ${currentPage - 1}}"><i class="fa-solid fa-angle-left"></i></a>
                        </li>

                        <li class="page-item" th:classappend="${i == currentPage} ? 'active'"
                            th:each="i : ${#numbers.sequence(begin, end)} ">
                            <a class="page-link" th:href="@{'/orders/new/page/' + ${i}}" th:text="${i}"></a>
                        </li>

                        <li class="page-item" th:if="${currentPage < totalPages}">
                            <a class="page-link" th:href="@{'/orders/new/page/' + ${currentPage + 1}}"><i class="fa-solid fa-angle-right"></i></a>
                        </li>
                        <li class="page-item" th:if="${currentPage < totalPages - 3}">
                            <a class="page-link" th:href="@{'/orders/new/page/' + ${totalPages}}"><i class="fa-solid fa-angles-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
