<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{template/index.html}" lang="en">

<th:block layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-dark">
                <div class="card-header">
                    <h3 class="card-title">Shopping Malls</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool btn-outline-success btn-sm" data-toggle="modal"
                                data-target="#addShoppingMall">
                            <i class="fa-solid fa-circle-plus"></i> Add Shopping Mall
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-2" th:each="shoppingMall,iterator : ${shoppingMalls}">
                            <div class="card card-dark">
                                <div class="card-header">
                                    <h5 class="card-title" th:text="${shoppingMall.name}"></h5>
                                    <div class="card-tools">
                                        <a th:href="${'shopping-malls/delete/' + shoppingMall.id}"
                                           class="btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i> Delete
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body d-flex align-items-center justify-content-center"
                                     style="min-height: 130px; max-height: 130px; background-color: lightgrey">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <a class="modalBtn" th:href="${'/shopping-malls/edit/' + shoppingMall.id}">
                                                <img style="max-width: 200px;" th:src="${shoppingMall.getImagePath()}"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- add Shopping Mall Modal -->
    <div class="modal fade" id="addShoppingMall" data-backdrop="static" tabindex="-1"
         role="dialog" aria-labelledby="addModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form th:method="POST" th:object="${newShoppingMall}"
                      th:action="*{'/shopping-malls/add'}" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModal">Adding new Shopping
                            Mall</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="newName">Name</label>
                            <input type="text" class="form-control" id="newName" required=""
                                   th:placeholder="'Name'"
                                   th:field="${newShoppingMall.name}">
                        </div>
                        <div class="form-group">
                            <label for="newUrl">Link</label>
                            <input type="text" class="form-control" id="newUrl" required=""
                                   th:placeholder="'Link'"
                                   th:field="${newShoppingMall.url}">
                        </div>
                        <div class="form-group">
                            <label for="addImg">Logo</label>
                            <div class="custom-file">
                                <input type="file" name="addImg" class="custom-file-input" id="addImg"
                                       accept="image/png, image/jpeg" required="">
                                <label class="custom-file-label" for="addImg">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- edit Shopping Mall Modal -->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade modalEdit"
         id="modalEdit" role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form th:method="POST" th:action="*{'/shopping-malls/add'}" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal"
                                type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input class="form-control" id="id" name="id" type="hidden" value=""/>
                        <div class="form-group">
                            <label class="col-form-label" for="name">Name:</label>
                            <input class="form-control" id="name" name="name" type="text" value=""/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="url">Link:</label>
                            <input class="form-control" id="url" name="url" type="text" value=""/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
</html>
