spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/usainua?currentSchema=public
    username: root
    password: root
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        temp:
          use_jdbc_metadata_defaults: false
        format_sql: false
    database: postgresql
    database-platform: postgresql
    hibernate:
      ddl-auto: update
server:
  port: 8080
logging:
  level:
    root: info
