<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<!-- head -->
<th:block th:replace="~{template/head}"></th:block>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- preloader -->
<!--    <th:block th:replace="template/preloader"></th:block>-->
    <!-- topbar -->
    <th:block th:replace="template/topbar"></th:block>
    <!-- sidebar -->
    <th:block th:replace="template/sidebar"></th:block>

    <div class="content-wrapper">
        <div class="content" style="padding: 35px 35px 15px 35px">
            <div class="container-fluid">
                <!-- main content -->
                <th:block layout:fragment="content"></th:block>
            </div>
        </div>
    </div>
    <!-- control side bar -->
    <th:block th:replace="template/controlsidebar"></th:block>
    <!-- footer -->
    <th:block th:replace="template/footer"></th:block>
</div>
<!-- js -->
<th:block th:replace="template/js"></th:block>
</body>
</html>
